*    
p{
    color: white;
    font-size: 18px;
    font-family: Cambria;
    text-align: justify;
}
 ol {
    color: white;
    font-size: 18px;
    font-family: Cambria;
    text-align: justify;
    
    
}
ol li{
    color: white;
    font-size: 18px;
    font-family: Cambria;
    text-align: justify;
}

body{
    background-color: black;
}

    



